# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables / API keys
.env

# IDE files
.vscode/
.idea/

# PyTorch checkpoints
*.pth
*.ckpt

# Large datasets
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db




pandas
fastapi
uvicorn
python-multipart
requests
opencv-python
zxing-cpp
PyTorch